nginx/
env/
venv/

.db
.env
.staging.proxy-companion
.proxy-companion

__pycache__/
static_root/
staticfiles/
media/

*.sqlite
*.sqlite3

DS_Store
.DS_Store/
.DS_Store

pyrogram_bot.log
*.session
*.session-journal
running_bot_data.json

.idea/
.userbot
logs/
core.*
True

.docker.env